.contenedor {
    display: grid;
    grid-gap: 20px;
    /* repeat(nro de columnas, tamaño) -> nos permite reducir el código */
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    grid-template-rows: repeat(3, 1fr);
}